.news{
    margin: 10rem 0;
    position: relative;
}
.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.news-div{

}
.news__title{
    font-size: 5rem;
    font-family: "vazir-bold";
    margin-bottom: 4rem;
}
.news__input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.news__input{
    padding: 1rem 1.8rem;
    border-radius: 0.8rem;
    background-color: rgb(255, 255, 255, 20%);
    border: none;
    outline: none;
    color: rgb(255, 255, 255, 50%);

}
.news__btn{
    padding: 0.4rem 1.4rem !important;
}

.news__icons{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
.news__icon1{
    width: 225px;
    height: 225px;
    margin: 20rem 12rem 0 0;
}
.news__icon2{
    width: 265px;
    height: 265px;
    margin: 8rem 0 0 15rem;
}
.news__icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



@media screen and (max-width: 375px){
    .news__title{
        font-size: 4rem;
    }
}